[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "foodwebr"]
	path = foodwebr
	url = https://github.com/lewinfox/foodwebr
[submodule "icecream"]
	path = icecream
	url = https://github.com/lewinfox/icecream
[submodule "levitate"]
	path = levitate
	url = https://github.com/lewinfox/levitate
